
 
 
<button class="btn btn-sm btn-outline-secondary btn-block"  (click)="loadComparedReels()">
SEARCH REELS
</button>



<div class="mt-3" *ngIf="kint >= 1">
  <div *ngIf="loading else loaded">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><mat-spinner class="center"></mat-spinner></div>
      <div class="col-sm-4"></div>
    </div>
    
</div>


<ng-template #loaded>
  <div>
    <table class="table mt-2">
      <thead>
        <tr>
          <th scope="col">Rites Nr.</th>
          <th scope="col">Kiekis </th>
          <th scope="col">Mnf </th>
          <th scope="col">Rites vieta</th>
        </tr>
      </thead>
      <div *ngIf="ngOnInit()" class="spinner-border text-primary"></div>
      <tbody>
        <tr *ngFor="let reels of reels">
          <td>{{reels.id}}</td>
          <td>{{reels.qty}}</td>
          <td>{{reels.cMnf}}</td>
          <td>
           <button class="myButton" (click)="TakeOut(reels.id)"><i class="fas fa-lightbulb" aria-hidden="true"></i> Turn on LED and take reel</button>
          </td>
        </tr>

      </tbody>
      <thead>
        <tr>
          <th scope="col">Viso ričių</th>
          <th scope="col">Bendras kiekis </th>
          <th scope="col"> </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ilgis}}</td>
          <td>{{suma}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
</div>
