<form #registerForm="ngForm" (ngSubmit)="SetLocation()">
    <div class="pt-2 mb-1">
        <input type="text" required name="Id" placeholder="Įveskite ritės/pakuotės ID" class="form-control" required [(ngModel)]="model.Id" />
    </div>
    <div class="pt-3 pb-2 mb-1 text-center">
        <input type="number" required name="Qty" placeholder="Įveskite sunaudotų komponentų skaičių" class="form-control" required [(ngModel)]="model.QTY" />
    </div>
    <div class="pt-2 pb-2 mb-3 text-center">
        <input type="text" required name="Mnf" placeholder="Įveskite vietą į kur padedate" class="form-control" required [(ngModel)]="model.Location" />
    </div>
    <button mat-button [disabled]="!registerForm.valid" class="btn btn-lg btn-block btn-outline-secondary" type="submit"><i class="fa fa-check mr-2"></i>Store</button>






</form>
