<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
    <h1 class="h2">BOM Manager</h1>

    <div class="btn-toolbar mb-2 mb-md-0">

        <form class="form-inline d-flex justify-content-center text-light" #form="ngForm" (ngSubmit)="GetBomNames()" novalidate>
            <div class="px-1">
                <input type="text" required name="CMnf" placeholder="Enter Manufacturer Number.." class="form-control form-control-sm">
            </div>

            <div class="btn-group mr-2">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Apply filters</button>
                <button type="button" class="btn btn-sm btn-secondary">Clear Filters</button>
            </div>

        </form>

    </div>


</div>




<div class="row">
    <div class="col-sm-4">
        <app-upload (bomuploaded)="ngOnInit()"></app-upload>
    </div>
    <div class="col-sm-8">
        <table mat-table [dataSource]="bomNames" class="my-table">
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> BOM name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dateAdded">
                <th mat-header-cell *matHeaderCellDef> Date Added </th>
                <td mat-cell *matCellDef="let element"> {{element.dateAdded | date}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="lastModified">
                <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                <td mat-cell *matCellDef="let element">{{element.lastModified | date}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> <button (click)="deleteBom(element.name)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/bom/', row.name]"></tr>
        </table>
    </div>
</div>
<div class="antras">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">TASKS List</h1>

        <div class="btn-toolbar mb-2 mb-md-0">

            <form class="form-inline d-flex justify-content-center text-light" #form="ngForm" novalidate>
                <div class="px-1">
                    <input type="text" required name="CMnf" placeholder="Enter Manufacturer Number.." class="form-control form-control-sm">
                </div>

                <div class="btn-group mr-2">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Apply filters</button>
                    <button type="button" class="btn btn-sm btn-secondary">Clear Filters</button>
                </div>

            </form>

        </div>


    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-create [bomNames]="bomNames"></app-create>
        </div>
        <div class="col-sm-8">
            <table mat-table [dataSource]="taskNames" class="my-table">
                <!-- Position Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> BOM name </th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="element.status">
                            <span *ngSwitchCase="'Created'" class="badge badge-pill badge-secondary">{{element.status}}</span>
                            <span *ngSwitchCase="'Checked'" class="badge badge-pill badge-primary">{{element.status}}</span>
                            <span *ngSwitchDefault class="badge badge-pill badge-sucess">{{element.status}}</span>
                        </div>

                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="taskName">
                    <th mat-header-cell *matHeaderCellDef> BOM name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="bomName">
                    <th mat-header-cell *matHeaderCellDef> BOM name </th>
                    <td mat-cell *matCellDef="let element"> {{element.bomName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="dateAdded">
                    <th mat-header-cell *matHeaderCellDef> Date Added </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateAdded | date}}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="lastModified">
                    <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                    <td mat-cell *matCellDef="let element">{{element.lastModified | date}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> <button (click)="deleteTask(element.name)" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;" [routerLink]="['/task/', row.name]"></tr>
            </table>
        </div>
    </div>
</div>
