<div class="sidenav">
  <div class="login-main-text">
    <h2>SMART storage<br> Login Page</h2>
    <p>Login or register from here to access storage app</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12" *ngIf="!registerMode">
    <div class="forma">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h2 class="text">Login</h2>
        <hr>
        <div class="form-group">
          <input type="text" class="form-control" id="login" name="login" placeholder="Username" required
            [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="Passowrd" placeholder="Password" required
            [(ngModel)]="model.password">
        </div>
        <div class="btn-group mr-2">
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-secondary">Login</button>
          <button type="submit" class="btn btn-outline-secondary" (click)="registerToggle()">Sign up</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 col-sm-12" *ngIf="registerMode">
    <div class="forma">

      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>
