.profile-img{
    text-align: center;
}
.profile-img img{
    width: inherit;
    height: 300px;
}
.qr{
    height: 100px;
}
b:hover{
    text-decoration: underline;
}

@media print {
	div {
		font-size: 5 pt;
	}
}

