

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="text-center">{{components.mnf}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-secondary" [routerLink]="['/members']">Back</button>
        <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/member/edit2/', components.id]">Edit</button>
        <button class="btn btn-sm btn-outline-secondary" (click)="printf()">Print</button>
        <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/members/history', components.id]">History</button>
        <button class="btn btn-sm btn-outline-secondary" (click)="deleteC()" >Delete</button>
      </div>
    </div>

  </div>



<div class="row">

  <div class="col-md-7 mt-1">
    <app-info-octopart  [components]="components"></app-info-octopart>
  </div>

  <div class="col-md-5 pt-3 pb-2 mb-3 border-left">
    <app-usedreel-list ></app-usedreel-list>
  </div>



</div>



