<mat-vertical-stepper #stepper>
  <mat-step>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <ng-template matStepLabel>Užregistruoti ritę</ng-template>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field *ngIf="condition" class="example-full-width">
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <mat-form-field class="example-form-field">
              <mat-label>QTY</mat-label>
              <input matInput formControlName="QTY" type="number">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-form-field">
              <mat-label>Location</mat-label>
              <input matInput formControlName="Location" type="String">
            </mat-form-field>
          </div>
          <div class="mt-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file btn-outline-secondary">
                    Browse…
                    <input type="file" formControlName="file" id="file" class="form-control"
                      (change)="onFileChange($event)" (change)="showPreview($event)">
                  </span>
                </span>
              </div>
            </div>
            <button [disabled]="!registerForm.valid" class="btn btn-sm btn-outline-secondary btn-block" type="submit"
              class="btn btn-secondary mt-5" matStepperNext>Register</button>


          </div>
        </div>
        <div class="col-sm-4" *ngIf="webcamImage === null && imageURL === null">
          <app-camera (pictureTaken)="handleImage($event)"></app-camera>
        </div>
        <div class="col-sm-4" *ngIf="webcamImage !== null">
          <div class="snapshot" >
            <img [src]="webcamImage.imageAsDataUrl" />
          </div>
        </div>
        <div class="col-sm-4" *ngIf="imageURL !== null && webcamImage === null ">
          <div class="snapshot" >
            <img [src]="imageURL" />
          </div>
        </div>

      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Atspausdinti lipduką</ng-template>
    <div class="pb-2 mb-3" *ngIf="loaded === true">
      <div class="row">
        <div class="col-sm-3 border-right border-top border-bottom">
          <div id="print-section">
            <div class="lipdukas">

              {{mnf}}<br>
              ID: {{id}}
              <qrcode qrdata={{id}} [width]="60" [errorCorrectionLevel]="'M'" [elementType]="'svg'">
              </qrcode>

            </div>
          </div>

        </div>

      </div>
    </div>
    <div>
      <button *ngIf="loaded === true" matStepperNext class="btn btn-secondary" printSectionId="print-section"
        ngxPrint><i class="fa fa-print" aria-hidden="true"></i>
        print</button>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Užklijuoti lipduką</ng-template>

    <button matStepperNext class="btn btn-secondary">Next</button>
    <img
      src="https://res.cloudinary.com/drpokst1/image/upload/v1601991408/41903635-surface-mount-electronic-component-tape-reel-isolated-on-the-white-background_hyhoag.jpg"
      alt="">
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Padėti ritę</ng-template>
    <p>Padėti ritę į dėžę</p>
    <div>

      <button mat-button (click)="stepper.reset()">Reset</button>

    </div>
  </mat-step>
</mat-vertical-stepper>
